<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Analysis and Mining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <!--[if lt IE 9]>
    <script
            src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script
            src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
    <![endif]-->
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<!-- row 1 -->
<div class="container">
    <div class="row">
        <div id="dataset" class="col-sm-6 col-md-3 pull-left">
            <h1><label class="label label-primary control-label  full-width" id="cdata">Choose dataset</label></h1>
            <select class="form-control" multiple="multiple"  id="data_select">
                <option value="None" ></option>
                <option value="Aragon-2006-income">Aragon-2006-income</option>
                <option value="Aragon-2007-income">Aragon-2007-income</option>
                <option value="Aragon-2008-income">Aragon-2008-income</option>
                <option value="Aragon-2009-income">Aragon-2009-income</option>
                <option value="Aragon-2010-income">Aragon-2010-income</option>
                <option value="Aragon-2011-income">Aragon-2011-income</option>
                <option value="Aragon-2012-income">Aragon-2012-income</option>
                <option value="Aragon-2013-income">Aragon-2013-income</option>
                <option value="Aragon-2014-income">Aragon-2014-income</option>
                <option value="Aragon-2015-income">Aragon-2015-income</option>
                <option value="Aragon-2016-income">Aragon-2016-income</option>
                <option value="budget-kilkis-expenditure-2012">Kilkis-expenditure-2012</option>
                <option value="budget-kilkis-expenditure-2013">Kilkis-expenditure-2013</option>
                <option value="budget-kilkis-expenditure-2014">Kilkis-expenditure-2014</option>
                </select>
        </div>
        <div id="dimentions" class="col-sm-6 col-md-3">
            <h1><label  class="label label-primary control-label  full-width" id="cdim">  Dimensions </label></h1>
            <select class="form-control"  id="observe_dimension" >
            </select>
        </div>
        <div id="codelist" class="col-sm-6 col-md-3">
            <h1><label class="label label-primary control-label  full-width" id="ccode">  Code-List </label></h1>
            <select class="form-control"  id="code_list"  >
            </select>
        </div>
        <div id="remark" class="col-sm-6 col-md-3">
            <h1><label class="label label-default control-label full-width" id="cremark">  Remark  </label></h1>
            <select class="form-control"  id="code_remark"  >
            </select>
        </div>
    </div>
</div>

<!-- row 2 -->
<div class="container">
    <div class="row">
        <button id="dam" class="col-sm-12 col-md-6 btn btn-default"
                data-toggle="modal" data-target="#damModal">
            <img src="{{ url_for('static', filename='images/datamining.gif') }}" class="img-responsive">
        </button>
    </div>
</div>

<!-- row 3 -->
<!-- output area -->
<strong><div id="echoResult"></div></strong>
<div id="loaderDiv" hidden>
    <img class="col-sm-3 col-sm-offset-4 col-dm-3 col-dm-offset-4" src="{{ url_for('static', filename='images/spinner.gif') }}">
</div>
<div id="visualization" class="col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2"></div>
<table id="vis_table" class="display col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2" width="100%"></table>

<!-- Modal -->
<div class="modal fade" id="damModal" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Which computational service do you need?</h4>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div  class="col-md-8  ">
                        <button type="button" class="btn btn-info btn-lg  col-md-3 btn-modal "
                                data-toggle="modal" data-target="#task1Modal"> Outlier Detection</button>
                        <button type="button" class="btn btn-info btn-lg col-md-3 btn-modal  "
                                data-toggle="modal" data-target="#task2Modal">  Pattern Mining  </button>
                        <button type="button" class="btn btn-info btn-lg col-md-3 btn-modal "
                                data-toggle="modal" data-target="#task3Modal">  Trend Analysis  </button>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-info btn-lg   btn-modal col-md-3  "
                                data-toggle="modal" data-target="#task4Modal">  Graph Analysis  </button>
                        <button type="button" class="btn btn-info btn-lg   btn-modal col-md-3  "
                                data-toggle="modal" data-target="#task5Modal">    Aggregation   </button>
                        <button type="button" class="btn btn-info btn-lg  btn-modal col-md-3  "
                                data-toggle="modal" data-target="#task6Modal">    Statistics    </button>
                    </div>
                        </div>
                    <div class="row">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-info btn-lg  btn-modal col-md-3"
                                data-toggle="modal" data-target="#task7Modal">   Pattern Matching </button>
                        <button type="button" class="btn btn-info btn-lg  btn-modal col-md-3"
                                data-toggle="modal" data-target="#task8Modal">    Comparison      </button>
                        <button type="button" class="btn btn-info btn-lg btn-modal col-md-3"
                                data-toggle="modal" data-target="#task9Modal">    Clustering      </button>
                    </div>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  name="closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Task1 Modal content : outlier detection-->
<div class="modal fade" id="task1Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  <div id="od_task"> Outlier Detection </div></h4>
            </div>

            <div class="modal-body">
                {% block contentce %}
                    <ul id="algo-tabs" class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active">
                            <a href="#Outlier_LOF">Outlier_LOF</a>
                        </li>
                        <li role="presentation">
                            <a href="#Outlier_OneClassSVM">Outlier_OneClassSVM</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Outlier_LOF">
                            <!--
                                filename,
                                output='Result',
                                full_output=False,
                                delimiter=',',
                                quotechar='|',
                                limit=25000,
                                outlier_method='Outlier_LOF',
                                min_population_size=30,
                                threshold=3,
                                threshold_avg=3,
                                num_outliers=25,
                                # Method specific parameters:
                                k=5
                            -->
                            <strong>Outlier_LOF</strong><br>
                            <br>
                            <div class="btn-group" id="Outlier_LOF_full_output" data-toggle="buttons">
                                <label class="radio-inline">
                                    <input name="radioGroupOutput"  value="full_output" type="radio"> full output
                                    </label>
                                <label class="radio-inline">
                                    <input name="radioGroupOutput"   value="partial_output"
                                           checked="" type="radio"> partial output
                                    </label>
                            </div>

                            <br>
                            <strong>output</strong>
                            <input size="10" id="Outlier_LOF_output" name="output" type="text" placeholder="Result" value="Result"><br>

                            <strong>delimiter</strong>
                            <input size="10" id="Outlier_LOF_delimiter" name="delimiter" type="text"
                                   placeholder="," value=","><br>

                            <strong>quotechar</strong>
                            <input size="10" id="Outlier_LOF_quotechar" name="quotechar" type="text"
                                   placeholder="|" value="|"><br>

                            <strong>limit</strong>
                            <input size="10" id="Outlier_LOF_limit" name="limit" type="text"
                                   placeholder="2500" value="2500"><br>

                            <strong>min_population_size</strong>
                            <input size="10" id="Outlier_LOF_min_population_size" name="min_population_size" type="text"
                                   placeholder="30" value="30"><br>

                            <strong>threshold</strong>
                            <input size="10" id="Outlier_LOF_threshold" name="threshold" type="text" placeholder="3" value="3"><br>

                            <strong>threshold average</strong>
                            <input size="10" id="Outlier_LOF_threshold_avg" name="threshold_avg" type="text" placeholder="3" value="3"><br>

                            <strong>number of outliers</strong>
                            <input size="10" id="Outlier_LOF_num_outliers" name="num_outliers" type="text" placeholder="25" value="25"><br>

                            <strong>k:</strong>
                            <input size="10" id="Outlier_LOF_k" name="k" type="text" value="5"><br>

                            <button type="button" class="btn btn-info btn-lg custom" id="submitBtn1" name="submitBtn1">Submit</button>
                            <button type="button" class="btn  btn-info" data-dismiss="modal">Close</button>

                            </div>

                        <div role="tabpanel" class="tab-pane" id="Outlier_OneClassSVM">
                            <strong>Outlier_OneClassSVM</strong><br>
                            <strong>Enter the percentage for outliers (value between 0 and 25, default=25):</strong>
                            <input size="10" id="outlierPercent" name="outlierPercent" type="text"><br>
                            <strong>Choose one dimension:</strong>
                            <div id="checkboxOfTask1"></div>
                            <button type="button" class="btn btn-info btn-lg custom" id="submitBtn1" name="submitBtn1">Submit</button>
                            <button type="button" class="btn  btn-info" data-dismiss="modal">Close</button>
                            </div>
                    </div>
                <br><br>
                {% endblock %}
                </div>

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<!-- Task3 Modal content : trend analysis-->
<div class="modal fade" id="task3Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Trend Analysis </h4>
            </div>
            <div class="modal-body">
                {% block content3 %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg custom" id="submitBtn3" name="submitBtn3">Submit</button>
                <button type="button" class="btn  btn-info btn-lg custom" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Task6 Modal content : Statistics -->
<div class="modal fade" id="task6Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Statistics</h4>
            </div>
            <div class="modal-body">
                {% block content6 %}
                <strong>Introduction to Statistics</strong>
                <br><br>
                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg custom" id="submitBtn6" name="submitBtn6">Execute</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Task9 Modal content : clustering-->
<div class="modal fade" id="task9Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Clustering </h4>
            </div>
            <div class="modal-body">
                {% block content9 %}
                <strong>Introduction to Clustering</strong>
                <strong>How many clusters should the data be grouped? (between two and ten groups) </strong>
                <input size="10" id="NumOfClusters" name="NumOfClusters" type="text"><br>
                <strong>Choose two dimensions:</strong>
                <div id="checkboxOfTask9"></div>
                <br><br>
                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg custom" id="submitBtn9" name="submitBtn9">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>
<script src="{{ url_for('static', filename='js/jquery.tablesorter.dev.js') }}"></script>
<script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-2.2.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>