<!DOCTYPE html>
<html lang="en">
<head>
  <title>DAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css">
  <link rel="stylesheet" href={{ url_for('static', filename='main.css') }}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <!--script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>
  -->

  <script src={{ url_for('static', filename='main.js') }}></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>
<body>

<div class="container">
  <div>
  <h1 class="side"><label class="dataset_width"><span class="label label-primary full-width" id="cdata">Choose dataset</span></label></h1>
  <h1 class="side"><label class="dataset_width"><span class="label label-primary full-width" id="cdim">Dimensions</span></label></h1>
  <h1 class="side"><label class="dataset_width"><span class="label label-primary full-width" id="ccode">Code-list</span></label></h1> 
  <h1 class="side"><label class="dataset_width"><span class="label label-primary full-width" id="cremark">Remark</span></label></h1>
  </div>
  <div> 
    <select class="form-control dataset_width side" id="data_select"  value="None">
      <option value="None" ></option>
      <option value="Aragon-2006-income">Aragon-2006-income</option>
      <option value="Aragon-2007-income">Aragon-2007-income</option>
      <option value="Aragon-2008-income">Aragon-2008-income</option>
      <option value="Aragon-2009-income">Aragon-2009-income</option>
      <option value="Aragon-2010-income">Aragon-2010-income</option>
      <option value="Aragon-2011-income">Aragon-2011-income</option>
      <option value="Aragon-2012-income">Aragon-2012-income</option>
      <option value="Aragon-2013-income">Aragon-2013-income</option>
      <option value="Aragon-2014-income">Aragon-2014-income</option>
      <option value="Aragon-2015-income">Aragon-2015-income</option>
      <option value="Aragon-2016-income">Aragon-2016-income</option>
    </select>
      <script>
          $('#data_select').on('change', function () {
          var selectVal = $("#data_select option:selected").val();
          document.getElementById("cdata").innerHTML = selectVal.split('-')[0];
          //checkedDimDict1 = {};
          //checkedDimDict9 = {};
          $('#visualization').empty();
          $.ajax({
              type: "GET",
              url: $SCRIPT_ROOT + "/observe_dim",
              contentType: "text/json; charset=utf-8",
              data: {city: selectVal},
              success: function (data) {
                  var jsonData = data.result;
                  if (data.result) {
                      var dimContainer = document.getElementById('observe_dimension');
                      remove_options(dimContainer);
                      add_options_to_selection(dimContainer, jsonData);
                      console.log('jsonData', jsonData);

                      var div = document.getElementById("checkboxOfTask1");
                      while (div.firstChild) {
                          div.removeChild(div.firstChild);
                      }
                      create_dim_checkboxes("checkboxOfTask1", checkedDimDict1);
                      var div = document.getElementById("checkboxOfTask9");
                      while (div.firstChild) {
                          div.removeChild(div.firstChild);
                      }
                      create_dim_checkboxes("checkboxOfTask9", checkedDimDict9);

                  }
              },

              error: function (jqXHR, textStatus, errorThrown) {
                  alert(errorThrown);
              }
          });
          })
      </script>
    <!--  ****************************** -->
    <select class="form-control dataset_width side" id="observe_dimension" >
  	</select>
      <script>
          $('#observe_dimension').on('change', function () {
              var selectVal = $("#observe_dimension option:selected").val();
              if (selectVal){
                  $.ajax({
                      type: "GET",
                      url: $SCRIPT_ROOT + "/code_list",
                      contentType: "text/json; charset=utf-8",
                      data: {dim: selectVal },
                      success: function(data) {
                          console.log(data.result);
                          jsonData = data.result;
                          if (data.result){
                              var dimContainer = document.getElementById('code_list');
                              remove_options(dimContainer);
                              add_options_to_selection(dimContainer, jsonData);
                              console.log(jsonData);
                          }
                      },

                      error: function(jqXHR, textStatus, errorThrown) {
                          alert(errorThrown);
                      }
                  });
              }
          });
      </script>

  	<select class="form-control dataset_width side" id="code_list"> 
  	</select>
  	<select class="form-control dataset_width side" id="code_remark"> 
  	</select>	
    
    <p><p>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg dataset_width" data-toggle="modal" data-target="#damModal">Data Analysis & Mining</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="damModal" role="dialog">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Which computational service do you need?</h4>
        </div>
        <div class="modal-body">
	  <div>
	   <button type="button" class="btn btn-info btn-lg custom " data-toggle="modal" data-target="#task1Modal"> Outlier Detection</button> 
	   <button type="button" class="btn btn-info btn-lg custom " data-toggle="modal" data-target="#task2Modal">  Pattern Mining  </button>
	   <button type="button" class="btn btn-info btn-lg custom " data-toggle="modal" data-target="#task3Modal">  Trend Analysis  </button>
	  </div>
	  <p>
	  <div>
	   <button type="button" class="btn btn-info btn-lg custom" data-toggle="modal" data-target="#task4Modal">  Graph Analysis  </button>
	   <button type="button" class="btn btn-info btn-lg custom" data-toggle="modal" data-target="#task5Modal">    Aggregation   </button>
	   <button type="button" class="btn btn-info btn-lg custom" data-toggle="modal" data-target="#task6Modal">    Statistics    </button>
	  </div>
	  <p>
	  <div>
	   <button type="button" class="btn btn-info btn-lg custom" data-toggle="modal" data-target="#task7Modal">   Pattern Matching </button>
	   <button type="button" class="btn btn-info btn-lg custom" data-toggle="modal" data-target="#task8Modal">    Comparison      </button>
	   <button type="button" class="btn btn-info btn-lg custom" data-toggle="modal" data-target="#task9Modal">    Clustering      </button>
	  </div> 

	   
	</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"  name="closeBtn" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


  <!-- output area -->
  <strong><div id="echoResult"></div></strong>
  <div id="loaderDiv" hidden> 
  	<img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static', filename='spinner.gif') }}"> 
  </div>
 <div id="visualization" style="width: 960px; height: 800px;"></div>
  
  <!-- Task1 Modal content -->
  <div class="modal fade" id="task1Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">  <div id="od_task"> Outlier Detection </div></h4>
             </div>
             
             <div class="modal-body">
	       {% block content1 %}
	       <script type="text/javascript"> 
			 $(function() { 
				 
				  $("#submitBtn1").click(function() { 
			 		$("#damModal").modal("hide");
		 	 		$("#task1Modal").modal("hide"); 
		 	 		$('#visualization').empty();
		 	 		var selectedDimLst = get_selected_dims("checkboxOfTask1");
                    var dataset_name = $("#data_select option:selected").val();
		 	 		var percent = $('#outlierPercent').val()
		 	 		if (isNaN(percent)){
		 	 			percent = 25}
		 	 		else{
		 	 			percent = parseFloat(percent)
		 	 			if (percent >25 || percent <= 0){
		 	 				percent = 25
		 	 			}
		 	 		}
		 	 		//var userData = {'city': $('#cdata').text(), 'dim':selectedDimLst};   
		 	 		if (selectedDimLst.length == 1){
			 	 	  $.ajax({
						 type: "GET",
						 url: $SCRIPT_ROOT + "/outlier_detection",
						 contentType: "text/json; charset=utf-8",
						 data: {city: dataset_name, dim: selectedDimLst.toString(), per: percent},
						 beforeSend: function(){
						    	$('#loaderDiv').show();
						    },
						 success: function(data) { 
							 $('#loaderDiv').hide();
							 $('#visualization').empty();
							 var div = document.getElementById('visualization'); 
							 while (div.hasChildNodes()) {
							     div.removeChild(div.lastChild);
							 }

							 var jsonData = JSON.parse(data);
							 plot_2Dgraph("visualization", jsonData, dataset_name, selectedDimLst)
							// plot_graph("visualization", jsonData['data'], classes=jsonData['cluster'])
							 //mpld3.draw_figure("visualization", jsonData['fig']) ;
							 },
						
					   
						
					 	error: function(jqXHR, textStatus, errorThrown) {
					 		
							 	checkedDimDict = {}
	     		            	alert(errorThrown);
							 }
						}); //ajax
		 	 		}else{
		 	 			alert('Please choose one dimension')
		 	 		}
					});
				 });//click #submitBtn1 
				 
	       </script>
	       
	        <strong>Enter the percentage for outliers (value between 0 and 25, default=25):</strong>
		       <input size="10" id="outlierPercent" name="outlierPercent" type="text"><br>
	        <strong>Choose one dimension:</strong> 
	        <div id="checkboxOfTask1"></div>  
             	
 	       
	      <br><br>
	       </div>
	       {% endblock %} 
             <div class="modal-footer">
	        	<button type="button" class="btn btn-info btn-lg custom" id="submitBtn1" name="submitBtn1">Submit</button>
				<button type="button" class="btn  btn-info" data-dismiss="modal">Close</button>
            </div>
	   </div>
    </div>
  </div>

  
  <!-- Task2 Modal content -->
  <div class="modal fade" id="task2Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Pattern Mining</h4>
             </div>
             <div class="modal-body">
              {% block content %}
	       <script type="text/javascript">
			 $(function() {

			 $("#submitBtn2").click(function() {
			 	$("#damModal").modal("hide");
		 	 	$("#task1Modal").modal("hide");
		 
			 	$.ajax({
			 		type: "GET",
		 			url: $SCRIPT_ROOT + "/echo/",
		 			contentType: "application/xml; charset=utf-8",
		 			data: { echoValue: $('#cdata').text() },
		 			success: function(data) {
                		 $('#echoResult').text(data.value);
		 				var container = document.getElementById('visualization');
		 				var items = [
		 					{x: '2014-06-11', y: 10},
		 					{x: '2014-06-12', y: 25},
		 					{x: '2014-06-13', y: 30},
		 					{x: '2014-06-14', y: 10},
		 					{x: '2014-06-15', y: 15},
		 					{x: '2014-06-16', y: 30}
		 					];
		 
			 			var dataset = new vis.DataSet(items);
			 			var options = {
					 		start: '2014-06-10',
		 					end: '2014-06-18'
		 					};
		 				var graph2d = new vis.Graph2d(container, dataset, options);
		 
			 		},
		 			error: function(jqXHR, textStatus, errorThrown) {
          	    	   alert(errorThrown);
			 		}
		 		}); //$.ajax     
			 });
		 		});//click #submitBtn2 
	       </script>
	       <strong>Enter a value to echo back:</strong>
	       <input size="10" id="echoText" name="echoText" type="text">
	      <br><br>
	       
	       {% endblock %}
          </div>
          <div class="modal-footer">
	        <button type="button" class="btn btn-info btn-lg custom" id="submitBtn2" name="submitBtn2">Submit</button>
			<button type="button" class="btn  btn-info btn-lg custom" data-dismiss="modal">Close</button>
          </div> 
	   </div>
    </div>
  </div>

  
  <!-- Task3 Modal content -->
  <div class="modal fade" id="task3Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Trend Analysis </h4>
             </div>
             <div class="modal-body">
               <p>parameter for task 3 </p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>

   <!-- Task4 Modal content -->
  <div class="modal fade" id="task4Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Graph Analysis </h4>
             </div>
             <div class="modal-body">
	     

             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>

  

  <!-- Task5 Modal content -->
  <div class="modal fade" id="task5Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Aggregation </h4>
             </div>
             <div class="modal-body">
               <p>parameter for task 5 </p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>

  
  <!-- Task6 Modal content -->
  <div class="modal fade" id="task6Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"> Statistics</h4>
             </div>
             <div class="modal-body">
                 {% block content6 %}
	       <script type="text/javascript">
		 $(function() {

		 	$("#submitBtn6").click(function() {
			 $("#damModal").modal("hide");
			 $("#task6Modal").modal("hide");
                var dataset_name = $("#data_select option:selected").val();
			 $.ajax({
				 type: "GET",
				 url: $SCRIPT_ROOT + "/statistics",
				 contentType: "text/json; charset=utf-8",
				 data: {city: dataset_name },
				 beforeSend: function(){
				    	$('#loaderDiv').show();
				    },
				 success: function(data) { 
					 $('#loaderDiv').hide();
					 jsonData = JSON.parse(data)
					 show_statistics_graph('visualization', jsonData, dataset_name);
					 /*var div = document.getElementById('visualization');
					 $('#visualization').empty();
					 while(div.firstChild){
					     div.removeChild(div.firstChild);
					 }
					 jsonData = JSON.parse(data)
					 mpld3.draw_figure("visualization", jsonData['fig']) ;
					 */
					 },
					 
				 error: function(jqXHR, textStatus, errorThrown) {
     		            alert(errorThrown);
						 }
					 });     
				 });
			 });
	       </script>
	       <strong>Introduction to Statistics</strong>
	       <p mean, std, >
	       <!-- <input size="10" id="echoText" name="echoText" type="text">
	         -->
	      <br><br>
	       
	       {% endblock %}
             </div>
             <div class="modal-footer">
	        <button type="button" class="btn btn-info btn-lg custom" id="submitBtn6" name="submitBtn6">Execute</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>

  
  <!-- Task7 Modal content -->
  <div class="modal fade" id="task7Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Pattern Matching</h4>
             </div>
             <div class="modal-body">
               <p>parameter for task 7 </p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>

   <!-- Task8 Modal content -->
  <div class="modal fade" id="task8Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Comparison</h4>
             </div>
             <div class="modal-body">
               <p>parameter for task 8 </p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>

  
   <!-- Task9 Modal content -->
  <div class="modal fade" id="task9Modal" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Clustering </h4>
             </div>
             <div class="modal-body">
              {% block content9 %}
	       <script type="text/javascript">
		 $(function() { 
 		 	 $("#submitBtn9").click(function() {
			   $("#damModal").modal("hide");
			   $("#task9Modal").modal("hide");
			   $('#visualization').empty();
			   var selectedDimLst = get_selected_dims("checkboxOfTask9");
               var data_set_name =  $("#data_select option:selected").val();
			   var numOfClusters = $('#NumOfClusters').val()
			   if (selectedDimLst.length === 2 && numOfClusters > 1 && numOfClusters < 13){
				    
				   $.ajax({ 
					   type: "GET",
					 	url: $SCRIPT_ROOT + "/clustering",
						contentType:"text/json; charset=utf-8",
					 	data: {city: data_set_name , dim: selectedDimLst.toString(), n_clusters: numOfClusters},
					 	beforeSend: function(){
					    	$('#loaderDiv').show();
					    },
					    success: function(data) { 
						    $('#loaderDiv').hide(); 
					 		var div = document.getElementById('visualization');
					 		$('#visualization').empty();
							while(div.firstChild){
					    		 div.removeChild(div.firstChild);
						 	} 
					 		jsonData = JSON.parse(data) //{'data': X, 'cluster': labels}
					 		plot_graph("visualization", jsonData['data'], jsonData['cluster'], data_set_name, selectedDimLst)
					 	//mpld3.draw_figure("visualization", jsonData['fig']) ;
					 	},
					 
				 	error: function(jqXHR, textStatus, errorThrown) {
					 	checkedDimDict = {}
     		            alert(errorThrown);
						 }
					 });
				   }
			   else{
				   alert("Please choose 2 dimensions. 1 < Clusters < 13 ")
			   }
				 });
			 });
	       </script>
	       <strong>Introduction to Clustering</strong>
	       <strong>How many clusters should the data be grouped? (between two and ten groups) </strong>
		       <input size="10" id="NumOfClusters" name="NumOfClusters" type="text"><br>
		   <strong>Choose two dimensions:</strong>
	       <div id="checkboxOfTask9"></div> 
	      <br><br>
	       
	       {% endblock %}
             </div>
             <div class="modal-footer">
	       <button type="button" class="btn btn-info btn-lg custom" id="submitBtn9" name="submitBtn9">Submit</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
	   </div>
    </div>
  </div>
  
  
</body>
</html>

